.product-img {
    max-width: 7rem; 
    margin: 0 auto; 
}

.product-header {
    padding: 1rem; 
    margin-bottom: 1rem; 
    border-radius: 0.5rem;  
}

.product-benefit-heading {
    font-size: 0.8rem;
    font-weight: bold; 
}

.product-text-info {
    font-weight: 400;
    font-size: 0.9rem; 
}    