@import url(../variables/variables.css);

.max-width-12 {
    max-width: 75rem; 
    margin: 0 auto; 
} 

@media screen and (max-width:76em) {
    .max-width-12 {
        padding: 0 2rem;     
    } 
}  
.flexed {
    display: flex; 
}
.founder-flexed {
    display: flex;
}
@media screen and (max-width: 40.625em) {
    .founder-flexed  {
        flex-direction: column; 
    } 
}
/* text */
.text-center {
    text-align: center; 
}

/* Headings */

/* Margins */
.margin-bottom-ex-sm {
    margin-bottom: 0.75rem;   
}
.margin-bottom-sm {
    margin-bottom: 1rem;
}
.margin-bottom-md {
    margin-bottom: 1.5rem;
}
.margin-bottom-big {
    margin-bottom: 2rem;
}
.margin-bottom-lg {
    margin-bottom: 2.5rem;
}
.margin-bottom-huge {
    margin-bottom: 3rem;
}
.margin-bottom-ex {
    margin-bottom: 3.5rem;
} 

.margin-top-ex-sm {
    margin-top: 0.75rem;
}

/* Section Margin */
.margin-bottom-section {
    margin-bottom: var(--margin-section); 
}

/* Guttar Margin */
.margin-guttar-2 {
    margin-right: 2rem; 
} 

/* Img width */
.img-width-100 {
    width: 100%;
} 

/* background Colors */
.bg-green-lite {
    background-color: var(--primary-green-lite); 
}
.bg-orange-lite {
    background-color: var(--primary-orange-lite); 
}
.bg-blue-lite {
    background-color: var(--primary-blue-lite);  
}

/* Border Team Members */
.border-green-top {
    border-top: 4px solid var(--primary-green); 
    border-bottom: 4px solid var(--primary-green); 
}.border-orange-top {
    border-top: 4px solid var(--primary-orange); 
    border-bottom: 4px solid var(--primary-orange); 
}.border-blue-top {
    border-top: 4px solid var(--primary-blue);  
    border-bottom: 4px solid var(--primary-blue);   
}  

/* Background Color */
.bg-primary-green {
    background-color: var(--primary-green);
}
.bg-primary-orange {
    background-color: var(--primary-orange);
}
.bg-primary-blue {
    background-color: var(--primary-blue); 
} 
/* Colors */
.clr-dark-grey {
    color: var(--color-grey-dark-d) 
} 


/* Padding */
.padding-all-1 {
    padding: 1rem; 
} 